.header{
    text-align: center;
    color: goldenrod;
    background-image: url("Google_Form_Header.jpg");
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.middle{
    height: 250px;
    background-image: url("Institution_Drone_shot.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

#description{
    font-size: xx-small;
}

.body{
    padding: 30px;
}